
html, body{
  height: 100%;
}
html{
  font-family: Helvetica, sans-serif;
  font-size: 10px;
}
#root{
  height: 100%;
}
.app {
  height: 100%;

  text-align: center;
}

.home{
  height: 100%;
  background-color: lightgray;
  overflow-y: auto;
}
.contact{
  height: 100%;
  background-color: whitesmoke;
  overflow-y: auto;
}
.offers{
  height: 100%;
  background-color: whitesmoke;
  overflow-y: auto;
}

.offers__deck{
  margin: 0 auto;
  position: relative;
  width: 80%;
  top: 5%;
}
.card{
  font-size: 1.7rem;
}
.card__heading{
  font-size: 2rem;
}
.card__footer{
  font-size: 1.rem;
}
.card__img{
  max-height: 400px;
  width: auto;
}

.info{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  /* background-image: url("../public/bg-parallax.jpg"); */
  height: 400px;
}
.info__section{
  font-size: 3.5rem;
  top: 25%;
  position: relative;
  text-align: center;
}
.info__highlight{
  padding: 0.2rem 0.5rem;
  background-color:  yellow;
  color: rgb(24, 12, 12);
}
.parallax__item{
  position: relative;
  top: 50px;
}
.examples{
  position: relative;
}

.home__section{
  position: relative;
  top: 30px;
}


.home__head{
  font-size: 4.0rem;
}
.home_gallery{
  margin-top: 20px;
  position: relative;
  background-color: #174fd1;
  left: 20%;
  width: 60%;
}

.content{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}
h1{
  margin: 0;
}
.bg-gray{
  background-color: white;
}
.slider{
  height:70%;
  overflow: hidden;
  background-color: #f1f1f1;;
}
.slider__element{
  box-shadow: inset 0px 0px 200px rgba(0,0,0,0.9);
}
.slider__img{

  position: relative;
  z-index: -10;
  width: 100%;
}
.header{
  background-color: #f1f1f1;
  height: 20%;
}

.custom-navbar__wrapper {
  height: 30%;
}

.custom-navbar{
  height: 30%;
  z-index: 100;
  font-size: 1.7rem;
}
.custom-navbar__link{
  color:  gray;
  padding-left: 3px;
  padding-right: 3px;
}
.custom-navbar__brand{
  font-size: 2rem;
}
.custom-navbar__button{
  height: 100%;
  float: left;
}
.custom-navbar__link:hover:not(.active) {color: #174fd1}

.custom-navbar__link_active {color: #174fd1;}

.custom-navbar__button-right {
  float: right;
  height: 100%;
}
@media screen and (max-width: 700px) {
  .custom-navbar__logo{
    display: none;
  }
  .slider{
    display: none;
  }
  .custom-navbar{
    height: 100%;
    z-index: 100;
  }
}


.map-wrapper{
  margin: 0 auto;
  position: relative;
  height: 70%;
  width: 70%;
  top: 5%;
}
.map__caption{
  margin: 0 auto;
  top: 10%;
  position: relative;
  font-size: 1.5rem;
}
.caption__heading{
  font-size: 2rem;
  color: gray;
}


.contact__container{
  width: 80%;
}
